
.button{
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--menu-item-general-font-size);
}

.forSlider{}
.simple{}
.submit{}
.back{}
.cancel{}


