:root{
  /* Generel colors */
  --orange: #F15B31;
  --yellow: #F3B140;
  --yellow-light: #ffffc3;
  --sky-blue: #43A7C1;
  --green: #40B177;
  --grey: #869D8F;
  --pink: #F2B5AB;
  --dark-brue: #1c3c6f;

  /* Font size */

    /* 2k format, full hd */
    --menu-item-font-size-full-hd-2k: 19px;
    --h1-font-size-fill-hd-2k: 36px;
    --h2-font-size-fill-hd-2k: 32px;
    --generel-font-size-full-hd-2k: 17px;

    /* general format */
    --menu-item-general-font-size: 17px;
    --h1-general-font-size: 32px;
    --h2-general-font-size: 28px;
    --generel-general-font-size: 15px;

  /* Font family */
  --menu-font-family: 'Montserrat' SansSerif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
